NODE_ENV='development'

ALLOWED_ORIGINS='http://localhost:3000,http://localhost:3001,http://localhost:4000'

COOKIE_DOMAIN='localhost'

JWT_SECRET='123456'
JWT_ACCESS_TOKEN_TTL='2h'
JWT_REFRESH_TOKEN_TTL='7d'

POSTGRES_USER='root'
POSTGRES_PASSWORD='123456'
POSTGRES_HOST='localhost'
POSTGRES_PORT=5433
POSTGRES_DATABASE='postgres'

DISCORD_REGISTRATION_WEBHOOK_URL='https://discordapp.com/api/webhooks/1539196657164353617/g9naDOiUoiKTmnDUoboPc3MqrKi-3QqpJ86cmUc6bw4spHkU0_32qpirC01GmenJ-cPF'
DISCORD_MOMENT_WEBHOOK_URL='https://discordapp.com/api/webhooks/1539196809086509166/rCi75Aq4z-7mZr30z7tOz7wHdETZSu6UrYfglFZww3lrbqI8RjqDMA97fE7dHUsuxiLA'
DISCORD_ACHIEVEMENT_WEBHOOK_URL='https://discordapp.com/api/webhooks/1539196940817006642/YcZyr0v6cXNlf_rMAQBirIXrTq3GtyWl2QgFv7G4hI2GykN50k8tCea4y8jmKkCpDWae'

DATABASE_URL="postgresql://postgres:Q12e34t56u78o90@db.fgghnwquwpxlexowzlwp.supabase.co:5432/postgres"
; DATABASE_URL="postgresql://root:123456@localhost:5433/postgres?schema=public"